
#inputAgregarTarea, #inputAgregarArea{
    padding: 5px;
    font-size: 30px;
    margin-left: 90px;
    border-radius: 6px;
}

.inputFilter{
    padding: 5px;
    font-size: 30px;
    margin-left: 90px;
    border-radius: 6px;
    margin-bottom: 25px;
}
.titulo{
    font-size: 50px;
    margin-left: 80px;
    font-family:Arial, Helvetica, sans-serif ;
    letter-spacing: 5px;
}
.btn1{
    padding: 6px;
    background-color: #48e;
    color: white;
    padding: 5px;
    font-size: 30px;
    margin-left: 90px;
    width: 380px;
    border-radius: 10px;
}
.contadorTask{
    border: 3px solid;
    text-align: center;
    width: 50px;
    border-radius: 50%;
    height: 50px;
}

.divCore{
    height: 95vh;
    width: 150vh;
    border: 2px solid;
    margin: auto;
}
.contador{
    width: 150px;
    height: 150px;
    border: 3px solid #0005;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    
}

.flexbox{
    display: flex;
    justify-content: space-between;
    text-align: center;

}

.grid{
    display: grid;
    grid-template-columns: 200px 200px;
}

.grupo{
    height: 630px;
    width: 1600px;
    border: 2px solid ;
    margin: auto;
    margin-top: 40px;
    text-align: center;
    font-size: 50px;
    text-align: center;
    padding: 20px;
    overflow: auto;
   
    
}

.containerTarea{
    border: 2px solid #0005;
    display: flex;
    margin: 20px;

}

.checkbox {
    margin-right: 3px; 
    height: 50px;
    width: 50px;
    border-radius: 50px;
    margin: auto;
    margin-left: 12px;
}

.taskTexto {
    margin-right: 500px;
    flex-grow: 1;
    text-align: center; 
    font-size: 40px;
    
}

.icono {
    margin-left: 10px; 
    height: 100px;
    width: 100px;
    margin-top: 30px;
}

.change{
   margin: auto;
   height: 50px;
   margin-right: 10px;
   border: 5px solid #0007;
}

.btnCambiar{
    margin: auto;
    height: 50px;
    margin-right: 10px;
    border: 5px solid #0007;
    font-size: 30px;
}

#cerrarModal{
    margin-left: 15px;
    font-size: 25px;
    padding: 15px;
    border-radius: 10px;
    width: 300px;
    color:white ;
    background-color: black;
    border: 5px solid #0003;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.dialog{
    background-color: transparent;
    border-color: transparent;
}

.change{
    border: 5px solid #48e;
    font-size: 25px;
    padding: 10px;
    border-radius: 10px;

}

.noTaskH1{
    margin-top: 200px;
}


.btnTT{
    width: 80px;
    height: 80px;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}

.btnTNT{
    width: 80px;
    height: 80px;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}